{% extends 'core/base/base.html' %}

{% block content %}
  <h1>Add Financial Background</h1>
  <hr>

  <table class="table">
  	<thead>
  		<th>Employer</th>
  		<th>Start Date</th>
  		<th>End Date</th>
  		<th>Currently Employed</th>
  		<th>Wage</th>
  	</thead>
  	<tbody>
  		{% for entry in employment %}
  		<tr>
  			<td>{{ entry.employer }}</td>
  			<td>{{ entry.start_date }}</td>
  			<td>{{ entry.end_date }}</td>
  			<td>{{ entry.currently_employed }}</td>
  			<td>{{ entry.wage }}</td>
  		</tr>
  		{% endfor %}
  	</tbody>

    <p>Note for form: If you have paystub, etc upload to verify employment. Otherwise, employer will be contacted. </p>

  </table>

  <br>

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#employmentModal">
	  Add previous employment
	</button>

  <hr>
  
  <img style="width:50%" src="guvhacks{{ user.account.identification_set.all.0.file.url }}">

  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#idModal">
    Upload Identification Document
  </button>

  <hr>

  <form method="post">
    {% csrf_token %}
    {{ fin_info_form.as_p }}
    <!-- todo: manually display the questions more clearly-->
    <input type="hidden" name="action" value="fin_info">
    <button type="submit" class="btn btn-secondary">Save</button>
  </form>

  <hr>


  <a href="{% url 'index' %}" class="btn btn-primary">Continue</a>



<!-- Employment Modal -->
<div class="modal fade" id="employmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Employment History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post">
	      <div class="modal-body">
	      		{% csrf_token %}
	        	{{ employment_form.as_p }}
	        	<input type="hidden" name="action" value="add_employment">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Add</button>
	      </div>
  	  </form>
    </div>
  </div>
</div>

<!-- Photo Modal -->
<div class="modal fade" id="idModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Identification Document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" enctype="multipart/form-data">
        <div class="modal-body">
            {% csrf_token %}
            {{ file_form.as_p }}
            <input type="hidden" name="action" value="add_id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}