{% extends 'core/base/base.html' %}

{% block content %}



<div class="container container-fluid">
    <div class="buttons-box">
        <div class="buttons-box-button">
            <div class="button-image" style="background-image:url('')"></div>
            <div class="button-label-content">Profile</div>
        </div>
        <div class="buttons-box-button">
            <div class="button-image financials-icon"></div>
            <div class="button-label-content">Financials</div>
        </div>
        <div class="buttons-box-button ">
            <div class="button-image notifications-icon"></div>
            <div class="button-label-content">Notifications</div>
        </div>
        <div class="buttons-box-button ">
            <div class="button-image help-icon"></div>
            <div class="button-label-content">Help</div>
        </div>
    </div> <!--buttons-box-->
</div> <!--container-->

{% endblock %}